/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

:root {
  --bg: #ef5d3b;
  --primary--dim: #6987db;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --lightblue: #98c1d9;

  --themePurple: #501f3a;
  --themePink: #ff8ba0;
  --themeWhite: #cccccc;
  --themeLightBlue: #14a098;
  --themeNavy: #14363e;
  --hover-brightness: 1.2;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: var(--themeNavy);
  margin: 0 !important;
  padding: 0 !important;
}

body,
button,
input {
  font-family: "Odibee Sans", cursive;
  font-weight: 300;
}

form {
  flex-grow: 1;
}

.u-goodstuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  text-align: center;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center !important;
}

.u-flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.u-flex-justifyCenter {
  display: flex;
  justify-content: center;
}

.u-flex-alignCenter {
  display: flex;
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-gameText {
  font-family: "Odibee Sans", cursive;
}

.u-gameHeader {
  font-family: "Odibee Sans", cursive;
  font-size: 75px;
  margin-bottom: 0px;
  color: white;
}

.u-gameContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  margin-top: 0px;
}

.u-displayText {
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
  position: fixed;
  bottom: 100px;
  /* width: fit-content; */
  /* line-height: 60px; */
  /* height: fit-content; */
  text-align: center;
  border-radius: 8px;
  color: black;
  background-color: #98c1d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin: auto;
  font-size: 30px;
  vertical-align: middle;
}
