.GameConfig-gameContainer {
  /* height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */

  height: 5000px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Leave {
  position: fixed !important;
  top: 30px !important;
  left: 30px !important;
  border-radius: 12px !important;
  background-color: var(--themePink) !important;
  color: #ffffff !important;
  font-size: 30px !important;
  height: 50px !important;
  width: 200px !important;
  font-family: "Odibee Sans", cursive !important;
}

.Leave:hover {
  background-color: #e76682 !important;
}

.Start {
  border-radius: 12px !important;
  background-color: var(--themePink) !important;
  color: #ffffff !important;
  font-size: 30px !important;
  height: 50px !important;
  width: 200px !important;
  position: fixed !important;
  top: 30px !important;
  right: 30px !important;
  font-family: "Odibee Sans", cursive !important;
}

.Start:hover {
  background-color: #e76682 !important;
}

.GameInfo-container {
  margin-top: 5px;
  justify-content: center;
  text-align: center;
  font-size: 35px;
}

.GameInfo-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.GameInfo {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  outline: 2px solid var(--themePink);
  background-color: var(--themeLightBlue);
  border-radius: 30px;
  color: var(--themeNavy);
}

.MapInfo {
  background-color: var(--themeLightBlue);
}

.MapName {
  color: var(--themeWhite);
}
