.Game-body {
  display: flex;
  border: 2px black;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 25px;
}

.Game-endScreen {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100px; /* Need a specific value to work */
}

.Game-winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #333333;
  color: white;
}

.Game-displayText {
  position: fixed;
  bottom: 5px;
  font-size: 17px;
  margin: auto;
  padding-left: 45%;
  vertical-align: middle;
}
