.NewPostInput-input,
.NewPostInput-button {
  font-size: 21px;
  padding: var(--s) var(--m);
}

.NewPostInput-input {
  flex-grow: 1;
  border: var(--themePink) 1px solid;
  border-radius: var(--xs) 0 0 var(--xs);
  transition: box-shadow 0.1s;
  width: 100px;
}

.NewPostInput-input:focus-within {
  border-color: var(--themeLightBlue);
  box-shadow: 0 0 0 var(--xs) var(--themePink);
}

.NewPostInput-button {
  color: black;
  border: black 1px solid;
  border-radius: 0 var(--xs) var(--xs) 0;
  background: none;
  transition: color 0.1s, background 0.1s;
}

.NewPostInput-button:hover {
  color: var(--white);
  background-color: #ff8ba0;
}

.Private-input {
  display: flex;
  flex-direction: row;
  width: 50px;
}
